<h1>SPRINT #<%= @sprint.number %> <%= " - (#{ @sprint.status_number })" if @sprint.activities.present? %></h1>

<p><strong>DESCRIÇÃO: </strong><%= @sprint.description %></p>

<p><strong>STATUS: </strong> <%= @sprint.status_humanize %> <%= "(Atrasada)" if @sprint.late?%> </p>

<p><strong>PERÍODO: </strong> <%= @sprint.init_date.strftime("%d/%m/%Y") %> a <%= @sprint.end_date.strftime("%d/%m/%Y") %> </p>

<p><strong>TEMPO ESTIMADO: </strong> <%= @sprint.calculate_estimate_time %></p>
<p><strong>TEMPO EXECUTADO: </strong><%= @sprint.calculate_time%></p>

<% if @sprint.started_date %>
  <p><strong>INICIADA EM: </strong> <%= @sprint.started_date.strftime("%d/%m/%Y") %> </p>
<% end %>

<% if @sprint.finished_date %>
  <p><strong>FINALIZADA EM: </strong> <%= @sprint.finished_date.strftime("%d/%m/%Y") %> </p>
<% end %>

<% if @sprint.scheduled? and policy(Project).edit? %>
  <p><%= link_to 'Iniciar Sprint', project_sprint_start_sprint_index_path(@project, @sprint), class: "button" %></p>
<% end %>

<% if @sprint.doing? and policy(Project).edit? %>
  <p><%= link_to 'Finalizar Sprint', project_sprint_finish_sprint_index_path(@project, @sprint), class: "button" %></p>
<% end %>

<% if policy(Project).edit? %>
  <p><%= link_to 'Apagar Sprint', project_sprint_path(@project, @sprint), method: :delete, data: { confirm: "Você tem Certeza?"}, class: "button alert" %></p>
<% end %>

<% if policy(Project).edit? %>
  <p><%= link_to 'Criar Atividade', new_project_activity_path(@project, sprint_id: @sprint.id), class: "button" %></p>
<% end %>


<TABLE BORDER="3" WIDTH="50%" CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="3"><BR><H2>ATIVIDADES</H2>
      </TH>
   </TR>
   <TR>
      <TH>TO DO</TH>
      <TH>DOING</TH>
      <TH>DONE</TH>
   </TR>
   <TR ALIGN="CENTER">
     <td>
       <table>
         <% @todo_activities.each do |activity| %>
           <tr ALIGN="CENTER">
             <td><%= link_to "#{activity.name}(#{activity.estimate}min)", project_activity_path(@project, activity) %></td>
           </tr>
         <% end %>
       </table>
    </td>
    <td>
      <table>
        <% @doing_activities.each do |activity| %>
          <tr ALIGN="CENTER">
            <td><%= link_to "#{activity.name}(#{activity.estimate}min - #{pretty_doing_duration activity}) #{'[PAUSE]' if activity.paused?}", project_activity_path(@project, activity) %></td>
          </tr>
        <% end %>
      </table>
    </td>
      <td>
        <table>
          <% @done_activities.each do |activity| %>
        <tr ALIGN="CENTER">
          <td><%= link_to "#{activity.name}(#{activity.estimate}min - #{pretty_duration activity})", project_activity_path(@project, activity) %></td>
        </tr>
      <% end %>
        </table>
      </td>

   </TR>
</TABLE>
