<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Sprints</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Sprint #<%= @sprint.number %></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul class="stats-overview col-4">
            <li>
              <span class="name"> Project </span>
              <span class="value text-info"> <%= @project.name %> </span>
            </li>
            <li>
              <span class="name"> Status </span>
              <span class="value text-info">
                <%= @sprint.status_humanize %>

                <% if @sprint.late? %>
                  <span class="label label-danger">overdue</span>
                <% end %>
              </span>
            </li>
            <li>
              <span class="name"> Estimated</span>
              <span class="value text-info"> <%= @sprint.calculate_estimate_time %></span>
            </li>
            <li>
              <span class="name"> Started at </span>
              <span class="value text-info"> <%= (@sprint.started_date) ? @sprint.started_date.strftime("%d/%m/%Y") : '---' %></span>
            </li>
          </ul>

          <ul class="stats-overview col-4">
            <li>
              <span class="name"> Progress </span>
              <span class="value text-info">
                <%= (@sprint.activities.present?) ? "#{ @sprint.status_number }" : '---'  %>
              </span>
            </li>
            <li>
              <span class="name"> Period </span>
              <span class="value text-info"> <%= @sprint.init_date.strftime("%d/%m/%Y") %> - <%= @sprint.end_date.strftime("%d/%m/%Y") %> </span>
            </li>
            <li>
              <span class="name">Executed</span>
              <span class="value text-info"> <%= @sprint.calculate_time%></span>
            </li>
            <li>
              <span class="name"> Finished at </span>
              <span class="value text-info"> <%= (@sprint.finished_date) ? @sprint.finished_date.strftime("%d/%m/%Y") : '---' %> </span>
            </li>
          </ul>

          <div class="actions">
            <% if @sprint.scheduled? and policy(Project).edit? %>
              <%= link_to project_sprint_start_sprint_index_path(@project, @sprint), class: "btn btn-success" do %>
                <i class="fa fa-play"></i> Start sprint
              <% end %>
            <% end %>

            <% if @sprint.doing? and policy(Project).edit? %>
              <%= link_to project_sprint_finish_sprint_index_path(@project, @sprint), class: "btn btn-default" do %>
                <i class="fa fa-stop"></i> Finish sprint
              <% end %>
            <% end %>

            <% if policy(Project).edit? %>
              <%= link_to project_sprint_path(@project, @sprint), method: :delete, data: { confirm: "Você tem Certeza?"}, class: "btn btn-danger" do %>
                <i class="fa fa-trash"></i> Delete sprint
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div>
    <% if policy(Project).edit? %>
      <ul class="nav navbar-right app-actions">
        <li>
          <%= link_to new_project_activity_path(@project, sprint_id: @sprint.id), class: 'btn btn-default' do %>
            <i class="fa fa-plus"></i> New activity
          <% end %>
        </li>
      </ul>
    <% end %>
    <h3>Activities</h3>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Todo</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul>
            <% @todo_activities.each do |activity| %>
              <li><%= link_to "#{activity.name}(#{activity.estimate}min)", project_activity_path(@project, activity) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Doing</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul>
            <% @doing_activities.each do |activity| %>
              <li>
                <%= link_to "#{activity.name}(#{activity.estimate}min - #{pretty_doing_duration activity}) #{'[PAUSE]' if activity.paused?}", project_activity_path(@project, activity) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Done</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ul>
            <% @done_activities.each do |activity| %>
              <li>
                <%= link_to "#{activity.name}(#{activity.estimate}min - #{pretty_duration activity})", project_activity_path(@project, activity) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>