<h1>SPRINT #<%= @sprint.number %></h1>

<p><%= @sprint.status_humanize %> <%= "(Atrasada)" if @sprint.late?%></p>

<% if @sprint.late? %>
  <p>Atrasada</p>
<% end %>

<% if @sprint.scheduled? and policy(Project).edit? %>
  <p><%= link_to 'Iniciar Sprint', project_sprint_start_sprint_index_path(@project, @sprint) %></p>
<% end %>

<% if @sprint.doing? and policy(Project).edit? %>
  <p><%= link_to 'Finalizar Sprint', project_sprint_finish_sprint_index_path(@project, @sprint) %></p>
<% end %>

<% if policy(Project).edit? %>
  <p><%= link_to 'Apagar Sprint', project_sprint_path(@project, @sprint), method: :delete, data: { confirm: "Você tem Certeza?"} %></p>
<% end %>

<% if policy(Project).edit? %>
  <p><%= link_to 'Criar Atividade', new_project_activity_path(@project, sprint_id: @sprint.id) %></p>
<% end %>

<h2>Atividades</h2>

<ul>
  <% @activities.each do |activity| %>
    <li><%= link_to activity.name, project_activity_path(@project, activity) %></li>
  <% end %>
</ul>

