<h1><%= @activity.name %> </h1>

<p><strong>ESTIMATIVA: </strong> <%= @activity.estimate %>min</p>

<% if @activity.doing? %>
  <p><strong>DURAÇÃO: </strong><%= pretty_doing_duration @activity %></p>
<% elsif @activity.done?%>
  <p><strong>DURAÇÃO: </strong><%= pretty_duration @activity %></p>
<% end %>

<p><strong>DESCRIÇÃO: </strong> <%= @activity.description %></p>

<p><strong>STATUS: </strong> <%= @activity.status_humanize %></p>


<% unless @activity.user.blank? %>
  <p><strong>RESPONSÁVEL: </strong> <%= @activity.user.name %></p>
<% end %>

<% if @activity.waiting? and @activity.sprint.doing? %>
  <%= link_to 'Iniciar Atividade', project_activity_start_activity_index_path(@project, @activity), class: "button" %>
<% end %>

<% if @activity.doing? and @activity.sprint.doing? %>
  <%= link_to 'Finalizar Atividade', project_activity_finish_activity_index_path(@project, @activity), class: "button"%>
<% end %>

<% if @activity.doing? and @activity.sprint.doing? %>
  <%= link_to 'Pausar Atividade', project_activity_pause_activity_index_path(@project, @activity), class: "button" %>
<% end %>

<% if @activity.paused? and @activity.sprint.doing? %>
  <%= link_to 'Reiniciar Atividade', project_activity_restart_activity_index_path(@project, @activity), class: "button" %>
<% end %>

<h3>Histórico</h3>
<ul>
  <% @historicals.each do |histotical| %>
    <li><%= historical_helper histotical%></li>
  <% end %>
</ul>

<h3>Comentários</h3>
<ul>
  <% @activity.comments.each do |comment| %>
    <li>
      <p><strong><%= comment.content %></strong></br>
      [<%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>] <%= comment.user.name %></p>
    </li>
  <% end %>
</ul>

<%= simple_form_for @comment, url: project_activity_create_comments_path(@project, @activity), method: :post do |f| %>
  <%= f.input :content, label: 'Escreva seu comentário...' %>
  <%= f.button :submit, 'Comentar', class: "success" %>
<% end %>
